@model IEnumerable<ReaderListItem>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 p-3">@User.Identity.Name</h1>
</div>
<div class="container-md">
<div class="mt-5">
    <h2>Welcome to HomeLibrary!</h2>
</div>
<div class="mt-5 quote col d-flex justify-content-center align-items-center ">
    <blockquote class="blockquote mb-0">
    <p>"But for my own part, if a book is well written, I always find it too short."</p>
    <footer class="blockquote-footer">Jane Austen</footer>
    </blockquote>
</div>
</div>


