@using Microsoft.AspNetCore.Identity
@using HomeLibrary.Data.Entities
@inject UserManager<ReaderEntity> UserManager  /*adding this with hopes it fixes WishListCreate Foreign Key issue */

@model WishListCreate  
@{
   
    ViewData["Title"] = "Create";
}
<h1>ADD A BOOK</h1>
<hr>
<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Create" method="post">
  
    
    <div class="col-md-6 form-floating mb-2 mt-5">
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
        <label asp-for="Title" class="form-label"></label>
      
    </div>
      <div class="col-md-6 form-floating mb-2">
         <input asp-for="Author" class="form-control" placeholder="Author">
         <span asp-validation-for="Author" class="text-danger"></span>
        <label asp-for="Author" class="form-label"></label>
       
    </div>
      <div class="col-md-6 form-floating mb-2">
         <input asp-for="SeriesNumber" class="form-control" placeholder="SeriesNumber">
         <span asp-validation-for="SeriesNumber" class="text-danger"></span>
        <label asp-for="SeriesNumber" class="form-label"></label>
       
    </div>
      <div class="col-md-6 form-floating mb-2">
        <input asp-for="Genre" class="form-control" placeholder="Genre">
        <span asp-validation-for="Genre" class="text-danger"></span>
        <label asp-for="Genre" class="form-label"></label>
        
    </div>



     <div class=" col d-flex vstack gap-2 col-md-2 ">
        <input type="submit" value="Create" class="btn btn-outline-primary btn-lg">
        <a asp-action="Index" class="">Back to WishList</a>
     </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}