@model IEnumerable<WishListDetail>

@{
    ViewData["Title"] = "WishList Index";
}

<h1>Book Wishlist</h1>
<table class = "table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeriesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>