@model GenreCreate
@{
    ViewData["Title"] = "Create a Genre";
}

<h1>Add A Genre</h1>
<hr>
<form asp-action="Create" method="post" class="row g-3">
     <div class="col-md-6 form-floating mb-2">
        <input asp-for="Genre" class="form-control" placeholder="Genre">
        <label asp-for="Genre" class="form-label"></label>
      
    </div>

    
     <div class="col d-flex vstack gap-2 col-md-2 ">
        <input type="submit" value="Add" class="btn btn-outline-primary btn-lg">
        <a asp-action="Index" class="">Back to Genre List</a>
     </div>
</form>