@model GenreDetail

@{
    ViewData["Title"] = Model.Genre;
}

<h1>DELETE: @Model.Genre </h1>
<hr>

<dl>
    <dt class="col-sm-2 mt-5" style="">
        @Html.DisplayNameFor(model => model.Genre)
    </dt>
    <dd class="col-sm-2 mt-2 ps-2" style="background: white;">
        @Html.DisplayFor(model => model.Genre)
    </dd>
</dl>
<form asp-action="Delete" class="col d-flex vstack gap-2 col-md-2">
    <input type ="submit" value="Delete" class="btn btn-outline-danger btn-lg" />
     <a asp-action="Index"style="text-align:center">Back to Genre List</a>
</form>