@model IEnumerable<GenreListItem>

@{
    ViewData["Title"] = "Genre Index";
}

<h1>BOOK GENRE LIST</h1>
<hr>
<p>
    <a asp-action="Create">Add A Genre Type</a>
</p>

<table class = "table table-hover ">
    <thead>
        <tr class="">
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
        </tr>
    </thead>
    <tbody>
          @foreach (var item in Model)
            {
                <tr class="">
                    <td>
                        @item.Genre
                    </td>
                    <td class= "text-end">
                        <a asp-action="Update" asp-route-id="@item.Id">Update</a> 
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

    </tbody>
</table>
