
@using Microsoft.AspNetCore.Identity
@using HomeLibrary.Data.Entities
@inject UserManager<ReaderEntity> UserManager

@model BookCreate

@{
    ViewData["Title"] = "Create a book";
    var genreList = ViewData["Genres"] as List<SelectListItem>;
}

<h1>Add A Book</h1>
<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Create" method="post">

    <div>
        <label asp-for="GenreId">Genre</label>
        <select asp-for="GenreId" asp-items="genreList"></select>
      
    </div>

    <div class="col-md-6 form-floating mb-2">
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
        <label asp-for="Title" class="form-label"></label>
      
    </div>
      <div class="col-md-6 form-floating mb-2">
         <input asp-for="Author" class="form-control" placeholder="Author">
         <span asp-validation-for="Author" class="text-danger"></span>
        <label asp-for="Author" class="form-label"></label>
       
    </div>
   
      <div class="col-md-6 form-floating mb-2">
         <input asp-for="SeriesNumber" class="form-control" placeholder="SeriesNumber">
         <span asp-validation-for="SeriesNumber" class="text-danger"></span>
        <label asp-for="SeriesNumber" class="form-label"></label>
       
    </div>
      <div class="col-md-6 form-floating mb-2">
        <input asp-for="Comment" class="form-control" placeholder="Comment">
        <span asp-validation-for="Comment" class="text-danger"></span>
        <label asp-for="Comment" class="form-label"></label>
        
    </div>
    



     <div class=" col d-flex vstack gap-2 col-md-2 ">
        <input type="submit" value="Create" class="btn btn-outline-primary btn-lg">
        <a asp-action="Index" class="">Back to Library</a>
     </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}