@model BookUpdate
@{
    ViewData["Title"] = "Update" + Model.Title;
}

<h1>UPDATE: @Model.Title</h1>
<hr>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <input asp-for="Id" hidden>
    <input asp-for="GenreId" hidden>
    <div class="col-md-6 form-floating mb-2 mt-5">
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
        <label asp-for="Title" class="form-label"></label>
    </div>
      <div class="col-md-6 form-floating mb-2">
         <input asp-for="Author" class="form-control" placeholder="Author">
         <span asp-validation-for="Author" class="text-danger"></span>
        <label asp-for="Author" class="form-label"></label>
    </div>
      <div class="col-md-6 form-floating mb-2">
         <input asp-for="SeriesNumber" class="form-control" placeholder="SeriesNumber">
         <span asp-validation-for="SeriesNumber" class="text-danger"></span>
        <label asp-for="SeriesNumber" class="form-label"></label>
    </div>
      <div class="col-md-6 form-floating mb-2">
        <input asp-for="DateFinished" class="form-control" placeholder="DateFinished">
        <span asp-validation-for="DateFinished" class="text-danger"></span>
        <label asp-for="DateFinished" class="form-label"></label>
    </div> 
    <div class="col-md-6 form-floating mb-3">
        <input asp-for="Comment" class="form-control" placeholder="Comment">
        <span asp-validation-for="Comment" class="text-danger"></span>
        <label asp-for="Comment" class= "form-label"></label> 
    </div>
    <div class="col d-flex vstack gap-2 col-md-2">
        <input type="Submit" value="Update" class="btn btn-outline-primary btn-lg">
        <a asp-action="Index" style="text-align:center">Back to Library</a>
     </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}