@model HomeLibrary.Models.Reader.ReaderRegister
@{
    ViewData["Title"] = "Register Account";
}
<h1 class="display-4 mb-3">Create Your Account</h1>
<form asp-action="Register" method="post">
    
</form>