@model HomeLibrary.Models.Reader.ReaderRegister
@{
    ViewData["Title"] = "Register Account";
}
<h1 class="display-4 mb-3">Sign up</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Register" method="post">
    <div class="form-floating mb-2">
        <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" asp-for="UserName" placeholder="UserName">
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
     <div class="form-floating mb-2">
        <input type="text" class="form-control" asp-for="Email" placeholder="Email">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" asp-for="Password" placeholder="Password">
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="d-flex flex-column vstack gap-2 col-md-2 mx-auto">
        <button type="submit" class="btn btn-outline-primary btn-lg">Create Account</button>
        <a asp-action="Login" asp-controller="Account" class="text-center">Log in</a>
    </div>


</form>