@model ReaderEdit
@{
    ViewData["Title"] = "Update" + Model.UserName;
}

<h1>UPDATE FOR: @Model.UserName</h1>
<hr>
<div asp-validation-summary="All" class="text-danger"></div>


    <form asp-action="Update" class="row g-2 mt-5"  method="post">
        <input asp-for="Id" hidden>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label"></label>
             <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
         <div class="col-md-6">
            <label asp-for="UserName" class="form-label"></label>
               <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label"></label>
               <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="form-label"></label>
               <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
         <div class="col d-flex  mt-5 mb-2">
        <input type="submit" value="Update" class="btn btn-outline-primary btn-lg">
     </div>
     <div>
         <a asp-action="Details" class=" p-2" asp-route-id="@Model.Id">Back to Details</a>
     </div>
       
        
    </form>

    <!--in order to have the validation work on this page, need to add the validation script partial -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
