@model ReaderEdit
@{
    ViewData["Title"] = "Edit" + Model.FirstName;
}

<h1>Update Information</h1>
<hr>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit" class="row g-2">
        <input asp-for="Id" hidden disabled>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label"></label>
               <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
         <div class="col-md-6">
            <label asp-for="UserName" class="form-label"></label>
               <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
         <div class="col-md-6">
            <label asp-for="Password" class="form-label"></label>
               <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label"></label>
               <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="form-label"></label>
               <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
         <div class=" col d-flex vstack gap-2 col-md-2 ">
        <input type="submit" value="Update" class="btn btn-outline-primary btn-lg">
        <a asp-action="Details" class="">Back to Details</a>
     </div>
       
        
    </form>

    <!--in order to have the validation work on this page, need to add the validation script partial -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
